.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            // width: 31px;
            height: 50px;
        }
    }
    .slick-next  {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .slick-dots button {
        background: #dbdbdb; // цвет фона
        border: 0; // без рамки
        border-radius: 50%; // радиус закругления
        font-size: 0px;
        height: 15px; // высота точки
        width: 15px; // ширина точки
        margin: 5px; // отступы между точками
        outline: none; // убираем обводку
    }  
    .slick-active button {
        background: $main-color;
      }      
}
