@media (max-width: 1200px) {
    .header {
        padding: 0 25px 0 25px;
        &__official{
            font-size: 25px;
        }
            }
    .promo {
        &__header {
            font-size: 40px;
                    }           
        &__wrapper {
            padding-right: 25px;

        }    
                }

    .button_main {
        width: 250px;
        height: 40px;
    }
    .consultation {
        .title_left {
            padding-left: 10px;
        }
        &__descr {
            padding-left: 10px;
        }
    }
    .feed-form {
        padding-left: 10px;
    }
    .next {
        right: -10px;
        left: auto;
    }
    }  

@media (max-width: 992px) {
    .header {
        &__official {
            font-size: 18px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__header {
        font-size: 35px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .title_left {
        font-size: 30px;
    }
    .consultation {
        &__descr {
            font-size: 16px;
            margin-top: 15px;
        }
    }
    .feed-form {
        font-size: 18px;
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__img {
            margin-left: 20px;
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin-top: 50px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 20px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 14px;
        }
    }
    .title_left {
        text-align: center;
        font-size: 24px;
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        display: flex;
        align-items:center;
        width: auto; 
    }
    .button_submit {
        width: auto;
    }
    .carousel {
        &__inner {
            width: 550px;
            img {
                max-width: 550px;
            }
        }
    }
    .catalog {
        &__tab {
            width: 30%;
        }
    }

}
@media (max-width: 575px) {
    .header {
        padding: 0 10px 0 10px;
        &__logo {
            display: none;
        }
        &__official {
            font-size: 16px;
            text-align: left;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 150px;
        font-size: 12px;
    }
    .promo {
        &__wrapper {
            padding: 0;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        &__icons {
            margin-top: 40px;
            flex-direction: column;
            width: 320px;
            align-items: center;
        }
        &__icon {
            width: auto;
            margin-top: 15px;
        }
        &__link {
            margin-right: 10px;
        }
    }
    .button_main {
        font-size: 14px;
        margin-right: 10px ;
    }
    .button_submit {
        width: 210px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            width: 200px;
            margin-bottom: 10px;
        }
    }
    .carousel {
        &__inner {
            width: 320px;
            img {
                max-width: 320px;
            }
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
        }
        &__text {
            margin-top: 15px;
            text-align: center;
        }
        &__img { 
            margin: 0 auto;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
    .modal {
        width: 300px;
        &__close {
            right: -1px;
        }
    }
}